/****** Script for SelectTopNRows command from SSMS  ******/
SELECT distinct 
      [PRODUCT]
      ,[DESCRIPTION]
      ,price
	 ,quantity
  FROM [InvoiceDWH].[dbo].[raw_data]
  where product = '22423'



  /****** Script for SelectTopNRows command from SSMS  ******/
SELECT distinct 
      [PRODUCT]
      ,[DESCRIPTION]
      ,price
	 ,quantity
  FROM [InvoiceDWH].[dbo].[raw_data]
  where product = '84625D'

  SELECT distinct 
      [PRODUCT]
      ,[DESCRIPTION]
     ,price
	 ,quantity
  FROM [InvoiceDWH].[dbo].[raw_data]
  where product = '77079'


  
  SELECT distinct 
      [PRODUCT]
      ,[DESCRIPTION]
     ,price
	 ,quantity
  FROM [InvoiceDWH].[dbo].[raw_data]
  where product = '84855'


    SELECT distinct 
      [PRODUCT]
      ,[DESCRIPTION]
     ,price
	 ,quantity
  FROM [InvoiceDWH].[dbo].[raw_data]
  where cast(price as decimal(10,2)) < 0.0


  
-- ;with a as (
--			SELECT *, cast(price as decimal(10,2)) as price_1
--			FROM [InvoiceDWH].[dbo].[file_name]
--)
--,b as (select stockcode, count(distinct description) as count_distinct_description
--from a
--where cast(price as decimal(10,2)) > 0.0
--group by stockcode 
--)

--select *
--from b
--where count_distinct_description > 1

WITH LatestDescriptions AS (
    SELECT 
        product, 
        description, 
        date,
        ROW_NUMBER() OVER (PARTITION BY product ORDER BY date DESC) AS row_num
    FROM [dbo].[raw_data]
	where cast(price as decimal(10,2)) > 0.0
)
INSERT INTO [dbo].[DIM_PRODUCT]
           ([STOCKCODE]
           ,[DESCRIPTION])

SELECT product, description 
FROM LatestDescriptions
WHERE row_num = 1;