/****** Script for SelectTopNRows command from SSMS  ******/
USE [InvoiceDWH]
GO

select distinct country
from [dbo].[raw_data]

select count(*), country
from [dbo].[raw_data]
group by country
order by 1 asc


--INSERT INTO [dbo].[DIM_COUNTRY]
--           ([COUNTRY_NAME])
--select country
--from [dbo].[raw_data]
--group by country

select distinct customer
from [dbo].[raw_data]
order by 1 desc


--INSERT INTO [dbo].[DIM_CUSTOMER]
--           ([CUSTOMER])
--select customer
--from [dbo].[raw_data]
--group by customer
--GO

select distinct cast([date] as date) as date
from [dbo].[raw_data]
order by 1 asc




--INSERT INTO [dbo].[DIM_DATE]
--           ([DATE_ID]
--		   ,[INVOICE_DATE]
--           ,[YEAR]
--           ,[MONTH]
--           ,[DAY]
--           ,[WEEKDAY]
--           ,[QUARTER])
--select distinct replace(cast([date] as date), '-','') as date
--				 ,cast([date] as date)as [INVOICE_DATE]
--				,year([date]) as [YEAR]
--				,month([date]) as [MONTH]
--				,day([date]) as [DAY]
--				,DATEPART(dw,[date])  as [WEEKDAY]
--				,DATEPART(QUARTER, [date])  as [QUARTER]
--from [dbo].[raw_data]


/*Now we see how many different cases there are with different */
 ;with a as (
			SELECT *, cast(price as decimal(10,2)) as price_1
			FROM [InvoiceDWH].[dbo].[file_name]
)
select stockcode, count(distinct description) as count_distinct_description
from a
where cast(price as decimal(10,2)) > 0.0
group by stockcode 
order by 2 desc