/*Total Revenue per Month
This aggregation helps track monthly revenue trends.*/


SELECT 
    d.year, 
    d.month, 
    SUM(f.price * f.quantity) AS total_revenue
FROM fact_sales f
inner JOIN dim_date d
	ON f.date_id = d.date_id
GROUP BY d.year, d.month
ORDER BY d.year, d.month;